@keyframes slideright {
    from {
        background-position: 7000%;
    }
    to {
        background-position: 0%;
    }
}

#desert {
    position: absolute;
    background-image: url("../images/t-rex-background.png");
    height: 200px;
    width: 100%;
    animation: slideright 600s infinite linear;
    bottom: 40px;
}

.dino {
    position: absolute;
    bottom: 0;
    background-image: url("../images/t-rex.png");
    height: 60px;
    width: 60px;
}