#desert {
    position: absolute;
    background-image: url("../images/t-rex-background.png");
    height: 200px;
    width: 100%;
}

.dino {
    position: absolute;
    bottom: 0;
    background-image: url("../images/t-rex.png");
    height: 60px;
    width: 60px;
}