@keyframes slideright {
    from {
        background-position: 7000%;
    }
    to {
        background-position: 0%;
    }
}

body {
    background-color: #000000;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#desert {
    position: absolute;
    background-image: url("../images/t-rex-background.png");
    height: 200px;
    width: 99%;   /* Why do I need to set width to 99% to get rid of the horizontal window scroller? Is there a better fix than this? */
    animation: slideright 600s infinite linear;
    bottom: 45vh;
}

.dino {
    position: absolute;
    left: 3px;
    bottom: 3px;
    background-image: url("../images/t-rex.png");
    height: 60px;
    width: 60px;
}